<app-template-fullwidth [title]="title">
  <!-- {{ collection | json }} -->
  <app-table-light *ngIf="collection$ | async as collection" [headers]="headers">

    <tr *ngFor="let item of collection">
      <td>
        <app-icon-edit (click)="goToEdit(item.id)"></app-icon-edit>
      </td>
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client | uppercase   }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency }}</td>
      <td>{{ item.tjmHt | total: item.nbJours | currency }}</td>
      <td>{{ item.tjmHt | total: item.nbJours: item.tva | currency }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
        </select>
      </td>

    </tr>

  </app-table-light>
  <app-btn text="Add Order" path="add"></app-btn>
  <app-btn text="Open Popup" (clicked)="openPopup()"></app-btn>
</app-template-fullwidth>

